.img-demo {
    height: 250px;
    object-fit: cover; /* Esto hace que la imagen se recorte para llenar el espacio sin deformarse */
}
/* Hero Carousel Actualizado */
.carousel-item {
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover !important; /* El !important asegura que mande el estilo */
}

/* Ajuste para que el texto no se pegue a los bordes en móviles pequeños */
@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 2.5rem; /* Achicamos un poco el título en móvil */
    }
    .carousel-caption p {
        font-size: 1.2rem;
    }
}